.contentBlock {
    text-align: center;
    height: 100vh !important;
    max-height: 100vh !important;
    background-color: black;
    color: #fff;
    display: flex;
    padding: 20px;
    &__textBottomRight {
        font-size: 30px;
        line-height: 40px;
        text-align: left;
        width: 70%;
        position: absolute;
        bottom: 10%;
        right: 10%;
        z-index: 5;
    }
}