body {
    background-color: #FBCBBC;
    //install correct google font
}

@mixin breakpoint($size){
    @if $size == 'mobile' {
        $size: 600px;
    }
    @if $size == 'tablet' {
        $size: 768px;
    }
    @media only screen and (max-width: $size) {
        @content;
    }
}